header {
    text-align: center;
    border-bottom: 3px solid black;
}

#choices-container {
    align-content: center;
    position: absolute;
    bottom: 2rem;
    left: 42%
}

#rock, #paper, #scissors {
    cursor: pointer;
    font-size: 12pt;
}

#cpu-character {
    margin-left: 33rem;
}

.ml4 {
    position: relative;
    font-weight: 900;
    font-size: 4.5em;
    text-align: center;
    bottom: 5rem;
}

.ml4 .letters {
    position: relative;
    margin: auto;
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0; 
}